amplifai-codabench/

__pycache__/
*.pyc
*.pyo

lirads_model/vendor/dinov2-*

*.csv
*.zip
*.err
*.out
*.png
*.pt
submit.sh

.venv/
venv/
*.egg-info/
checkpoints/
checkpoints_v0/
logs/
submission/lirads_model
submission/model
submission/packages


.DS_Store
